html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
#root {
    height: 100%;
    width: 100%;
}